.grid-x3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.grid-x3__cell {
  flex: 0 1 100%;
}

.grid-x3__cell {
  flex: 0 1 32%;
}

@media (max-width: 1024px) {
  .grid-x3__cell {
    flex: 0 1 48%;
  }
}

@media (max-width: 767px) {
  .grid-x3__cell {
    margin-bottom: 1rem;
    flex: 0 1 100%;
  }
}

.container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.8rem $padding-page-x 1.6rem;
}